@use "./framework/button";
@use "./framework/textbox";
@use "./framework/radio";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
* {
    box-sizing: border-box;
}
@media only screen and (max-width: 55em) {
    // Disable scale effect causes overflow
    .button {
        &:hover,
        &:focus-visible,
        &:active {
            transform: scale(1);
        }
    }
    .textbox {
        &:hover,
        &:active,
        &:focus-visible {
            transform: scale(1);
        }
    }
}
body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.title {
    margin: 2.5rem 0 1.5rem 0;
    h1 {
        text-align: center;
        transition: 0.3s color ease-in-out;
        margin: 0;
    }

    display: flex;
    justify-content: center;
}

#inputfields {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#actionfields {
    button {
        flex: 1 1 45%;
    }
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.mode {
    margin: 0.75rem;
    width: 98%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    button {
        flex-grow: 1;
    }
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#root {
    width: clamp(5em, 100%, 50em);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.encoding {
    align-self: flex-end;
    margin: 0.5rem;
}
