@use "./framework/button";
@use "./framework/textbox";
@use "./framework/radio";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

#header-title {
    transition: 0.3s color ease-in-out;
    text-align: center;
    margin: 0;
}

#card {
    width: 50%;
    display: flex;
    margin: 1.5rem 0 0 0;
    flex-direction: column;
}
#root {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

