@use "./framework/button";
@use "./framework/textbox";
@use "./framework/radio";
@use "./mobile";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");


.title {
    padding: 3rem 0 1.75rem 0;
    h1 {
        text-align: center;
        transition: 0.3s color ease-in-out;
        margin: 0;
    }

    display: flex;
    justify-content: center;
}

#inputfields {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#actionfields {
    button {
        flex: 1 1 45%;
    }
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.mode {
    margin: 0.75rem;
    width: 98%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    button {
        flex-grow: 1;
    }
}

#root {
    width: clamp(5em, 100%, 50em);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}