@use "./config" as framework;
.button {
    $button-padding: 0.85rem;
    $button-margin: 0.5rem;

    padding: $button-padding;
    margin: $button-margin;
    background: framework.$primary;

    font-family: "Roboto", sans-serif;
    user-select: none;
    border-radius: 0.375rem;
    text-align: center;
    outline: none;
    border: none;
    transition: 0.1s transform ease, 0.1s background ease;
    &:hover {
        transform: scale(1.02);
        background: framework.$primary-hover;
    }
    &:focus-visible {
        transform: scale(1.06);
    }
    &:active {
        transition: 0.01s transform ease;
        transform: scale(1);
        background: framework.$primary-click;
    }
}
