$radio-background: rgb(218, 218, 218);
$radio-background-selected: rgb(83, 83, 83);
$radio-text-selected: rgb(228, 228, 228);

.radio {
    background: $radio-background;
    border-radius: 0.4rem;
    display: flex;
    .selected {
        background: $radio-background-selected;
        color: $radio-text-selected;
    }
}
