@use "./config" as framework;

.textbox {
    $expand-speed: 0.335s;
    $click-focus-speed: 0.05s;
    $hover-speed: 0.1s;
    margin: 0.5rem;
    padding: 0.85rem;
    background: framework.$primary;
    transition: $click-focus-speed transform ease-in-out, $hover-speed transform ease-in;

    &::selection {
        background: rgb(216, 216, 216);
    }
    &.collapse {
        transition: $expand-speed margin ease-in-out, $expand-speed height ease-in-out,
            $click-focus-speed transform ease-in-out;
        margin: 0;
        padding: 0;
        height: 0;
    }

    &.expand {
        transition: $expand-speed margin ease-in-out, $expand-speed padding ease-in-out,
            $expand-speed height ease-in-out, $click-focus-speed transform ease-in-out;
        height: 3rem;
    }

    &:hover {
        transform: scale(1.04);
    }

    &:focus-visible {
        transition: 0.1s background ease-in-out;
        transition: $click-focus-speed transform ease-in;
        background: framework.$primary-hover;
        transform: scale(1.06);
        border-radius: 0.6rem;
    }

    border-radius: 0.375rem;
    font-family: "Roboto", sans-serif;
    text-align: center;
    border: none;
    outline: none;
}
